h1 {
  text-align: center;
  background: #ccc;
  padding: 10px;
  font-family: sans-serif;
}

ul {
  line-height: 1.5em;
  list-style: square;
}

#baconlink {
  margin-bottom: 20px;
}

#baconlink a:hover {
  color: red;
}

#baconlink a:link {
  text-decoration: none;
  background: #28D1B2;
  padding: 10px;
  border-radius: 25px;
}

img {
  border: 5px solid black;
  border-radius: 8px;
}
