h1 {
  color: green;
  text-align: center;
}

h2 {
  color: orange;
  font-style: oblique;
}

ul, ol {
  font-family: courier;
  color: #20E38B;
  font-weight: 800;
  line-height: 1.5em;
}

#balls {
  color: #20D6E3;
}

#baconpic {
  display: block;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 8px;
}

h1 {
  text-align: center;
  background: #ccc;
  padding: 10px;
  font-family: sans-serif;
}

ul {
  line-height: 1.5em;
  list-style: square;
}

#baconlink {
  margin-bottom: 20px;
}

#baconlink a:hover {
  color: red;
}

#baconlink a:link {
  text-decoration: none;
  background: #28D1B2;
  padding: 10px;
  border-radius: 25px;
}

.favepics {
  border: 5px solid black;
  border-radius: 8px;
}
